/*Cores do Senac*/
:root {
  --laranja-senac:#D08040;
  --branco:white;
  --AzulPrincipal:#014A8E;
  --preto:#000000;
  --AzulSecundario:#1C6DB9;
  --brano-cinza:#E0E0E0;
}


/*Logos no topo*/
.header {
  background-color: #fff;
  border-bottom: 2px solid #ddd;
  padding: 10px 0;
  background-image: url('img/fundo-header.png');
  background-size: 1200px;
  height: 130px;
}

.header img {
  max-height: 60px;
}

.header {
  background-color: #fff;
  border-bottom: 2px solid #ddd;
  padding: 10px 0;
  background-image: url('img/fundo-header.png');
  background-size: 1200px;
  height: 130px;
}

.header img {
  max-height: 60px;
}


/*Parte principal da página*/
.title{
  font-size: 36px;
}
  
  .subtitle {
    color: #014A8E;
  }
  
  .options-container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .options-container h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .options-container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .form-label {
    font-size: 14px;
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
  }
  
  .form-select, .form-control {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
  }
  
  .form-select:focus, .form-control:focus {
    border-color: #007bff;
    outline: none;
  }
 
  
  /* Botão de voltar e salvar */
.button-container {
  display: flex;
  justify-content: space-between; 
  margin-top: 20px;
}

.button-container button {
  padding: 10px 30px;
  font-size: 16px;
  border-radius: 25px; 
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.btn{
  background-color: #D08040; 
  color: white;
  border: none;
}

.btn-voltar[type="button"] {
  background-color: #D08040; 
  color: white;
  border: none;
}

.btn[type="submit"]:hover, button[type="button"]:hover {
  opacity: 0.8; 
}


/*Estilos para o modo mobile*/

/*Topo*/
@media (max-width: 768px) { 
  .logo-left,
  .logo-right {
      display: none;
  }

}

/* Parte principal */
@media (max-width: 767px) {
  main {
      padding: 20px; 
      margin-top: 60px; 
      
  }

  .title {
      font-size: 1.8rem; 
      margin-bottom: 20px; 
      text-align: center; 
  }

  .subtitle {
      font-size: 1rem; 
      color: var(--AzulSecundario);
      margin-bottom: 30px; 
      text-align: center; 
  }

  .btn [type="submit"] {
    width: 30%;
    padding: 3px 0;
    font-size: 12px;
    background-color: #D08040; 
    color: white;
    border: none;
    text-align: center;
}


.btn-voltar[type="button"] {
    width: 30%;
    padding: 8px 0;
    font-size: 12px;
    background-color: #D08040;
    color: white;
    border: none;
    text-align: center !important;
}
}