/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Commissioner', sans-serif;
    background-color: #fff;
    height: 100vh;
    background-image: url("imagens/tela de fundo.png"); /* Tela de fundo */
    background-size: cover;
    background-position: center;
}

/* Estilo do logo SENAC Beauty Hub */
.logo-beauty-hub {
    position: absolute;
    top: 5px;
    left: 10px;
    z-index: 2;
}

.logo-beauty-hub img {
    width: 140px;
    height: auto;
}

/* Estilo do logo SENAC */
.senac-logo {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 2;
}

.senac-logo img {
    width: 110px;
    height: auto;
}

/* Contêiner do formulário de cadastro */
.cadastro-container {
    position: absolute;
    top: 55%; /* Ajuste para ficar mais abaixo */
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    width: 400px;
    text-align: center;
}

/* Título do formulário de cadastro */
h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* Estilo para os campos de input */
.input-container {
    margin-bottom: 20px;
    text-align: left;
}

.input-container label {
    font-size: 14px;
    color: #0c0c0c;
    margin-bottom: 5px;
    display: block;
}

.input-container input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    background-color: #EFEFEF;
}

/* Estilo dos botões */
.button-container {
    position: fixed;
    bottom: 20px; /* Posiciona os botões na parte inferior da tela */
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

/* Botão Voltar */
.voltar-btn {
    width: auto; /* Largura automática para o botão */
    padding: 8px 16px; /* Tamanho pequeno e confortável */
    background-color: #ffa07a;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.voltar-btn:hover {
    background-color: #ff7f50;
}

/* Botão Finalizar */
.finalizar-btn {
    width: auto; /* Largura automática para o botão */
    padding: 8px 16px; /* Tamanho pequeno e confortável */
    background-color: #ff7f50;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.finalizar-btn:hover {
    background-color: #ff5733;
}
