/*Background da página*/
body{
    background-image: url("img/fundo-header.png");
    background-size: 1200px;
}

/*Logos no topo*/
.custom-nav {
    padding: 10px 20px; 
  }
  
  .container-nav {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
  }
  

  .logo {
    max-height: 60px; 
    object-fit: contain; 
    transition: transform 0.3s ease; 
  }

  .logo1{
    max-width: 150px;
  }
  
  .spacer {
    flex: 1; 
  }


  /*Parte principal com formulário de cadastro*/
.cadastro-container {
    padding: 0;
    max-width: 600px; 
    margin: 0 auto;
}

.form-wrapper {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    color: #333;
}

.input-container {
    margin-bottom: 20px;
    text-align: left;
}

.input-container label {
    font-size: 14px;
    color: #0c0c0c;
    margin-bottom: 5px;
    display: block;
}

.input-container input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #E0E0E0;
    border-radius: 15px;
    background-color: #F5F5F5;
}


/* Estilo dos botões de voltar e finalizar */
.button-container {
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.voltar-btn {
    width: auto;
    padding: 8px 16px;
    background-color: #ffa07a;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.voltar-btn:hover {
    background-color: #ff7f50;
}
