/* Estilo para o Header */
.header {
    background-color: #fff;
    border-bottom: 2px solid #ddd;
    padding: 10px 0;
    background-image: url('imagens/BackGround Senac Beauty Hub (branco e maior) 1.png');
    height: 130px;
}

.header img {
    max-height: 90px;
}

/* Sidebar */
.custom-sidebar {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #014A8E; /* Cor atualizada da barra lateral */
    color: white;
}

.custom-sidebar a {
    text-decoration: none;
    padding: 10px 15px;
    color: white;
    font-size: 16px;
}

.custom-sidebar a:hover {
    background-color: #0056b3;
    text-decoration: none;
}

/* Main Content */
.main-title {
    text-align: left;
    margin-bottom: 10px;
}

.subtitle {
    text-align: left;
    color: #014A8E;
    margin-bottom: 40px; /* Aumentado para afastar mais os segmentos */
}

/* Estilo para os itens de serviço */
.service-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-size: 1rem;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    border-radius: 5px;
    text-align: left;
}

/* Estilo do checkbox */
.service-item input {
    margin-right: 15px;
    transform: scale(1.3); /* Aumentando o tamanho do checkbox */
}

/* Alinha o preço à direita */
.service-item .badge {
    margin-left: auto; /* Coloca o badge à direita */
    background-color: #014A8E;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
}

/* Botão de confirmação */
.btn-primary {
    background-color: #014A8E;
    border-color: #014A8E;
}

.btn-primary:hover {
    background-color: #00549B;
    border-color: #00549B;
}

/* Estilo para o contêiner dos botões */
.button-container {
    display: flex;
    justify-content: space-between; /* Espaço entre os botões */
    margin-top: 20px;
}

/* Estilo para os botões */
.button-container button {
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 25px; /* Bordas arredondadas */
    cursor: pointer;
    transition: opacity 0.3s ease;
}

/* Estilo para o botão 'Próximo' */
button[type="submit"] {
    background-color: #ff6f00; /* Laranja */
    color: white;
    border: none;
}

/* Estilo para o botão 'Voltar' */
button[type="button"] {
    background-color: #ff6f00; /* Laranja */
    color: white;
    border: none;
}

button[type="submit"]:hover, button[type="button"]:hover {
    opacity: 0.8; /* Efeito de hover */
}

button i {
    margin-right: 5px; /* Espaço entre o ícone e o texto */
}

/* Adicionando margem entre os botões */
button[type="submit"] {
    margin-left: 10px; /* Margem entre os botões */
}

button[type="button"] {
    margin-right: 10px; /* Margem entre os botões */
}
